config.stopbubbling = true
#И так мы можем добавить любые аннотации которые мы можем встретить, главное указать полный путь к аннотации
lombok.copyableannotations += org.springframework.beans.factory.annotation.Value
lombok.copyableannotations += org.springframework.beans.factory.annotation.Qualifier